<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">

         <%- include('../partials/header', {pagina: 'sobre'}); %>


        <main>
            <div class="jumbotron">
                <h1>Sobre mim</h1>
                <p>Olá, me chamo Matheu! Estou começando agora na programação</p>
            </div>
        </main>




         <%- include('../partials/footer'); %>




</body>


</html>