<!DOCTYPE html>

         <%- include('../partials/head'); %>

<body class="container">
    <%- include('../partials/header'); %>
         
          <main>
              <div class="jumbotron">
              <h1>Node com EJS</h1>
              <p>Primeiro site</p>
            </div>

               <ul>
                 <li>
                   <strong>Teste 1</strong> Teste 1
                 </li>
                 <li>
                  <strong>Teste 2</strong> Teste 2
                </li>
                <li>
                  <strong>Teste 3</strong> Teste 3
                </li>
               </ul>

          </main>

<%- include('../partials/footer'); %>
</body>
</html>